<svg width="600" height="600" style="border: 1px solid red;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <!-- <circle cx="150" cy="150" r="150" style="fill: none;stroke: orangered; stroke-width: 1;"></circle>
    <circle cx="150" cy="450" r="150" style="fill: none;stroke: orangered; stroke-width: 1;"></circle>
    <circle cx="450" cy="150" r="150" style="fill: none;stroke: orangered; stroke-width: 1;"></circle>
    <circle cx="450" cy="450" r="150" style="fill: none;stroke: orangered; stroke-width: 1;"></circle>
    <rect x="150" y="150" width="300" height="300" style="fill: none; stroke:olive; stroke-width: 1;"></rect> -->
    
    <svg:g *ngFor="let i of tempCords" app-item-card [coord]="i" />
</svg>  