<svg:g>


    <!-- Each node render /customization section start -->

    <svg:rect  xmlns="http://www.w3.org/2000/svg" [attr.x]="node.dim.x"
        [attr.y]="node.dim.y" [attr.width]="node.dim.width" [attr.height]="node.dim.height" filter="url(#f4)" rx="10"
        ry="10" style="fill: #fff; stroke:olive; stroke-width: 0;"></svg:rect>


    <!-- Image section start -->
    <svg:image *ngIf="node.data.gender=='M' && !node.data.baby" href="assets/boy.png" [attr.x]="node.dim.x+10"
        [attr.y]="node.dim.y+10" width="25" height="25" />

    <svg:image *ngIf="node.data.gender=='F' && !node.data.baby" href="assets/girl.png" [attr.x]="node.dim.x+10"
        [attr.y]="node.dim.y+10" width="25" height="25" />

    <svg:image *ngIf="node.data.gender=='M' && node.data.baby" href="assets/baby-boy.png" [attr.x]="node.dim.x+10"
        [attr.y]="node.dim.y+10" width="25" height="25" />

    <svg:image *ngIf="node.data.gender=='F' && node.data.baby" href="assets/baby-girl.png" [attr.x]="node.dim.x+10"
        [attr.y]="node.dim.y+10" width="25" height="25" />

    <svg:image *ngIf="node.data.spouse" href="assets/spouse.png" [attr.x]="node.dim.x+10" [attr.y]="node.dim.y+40"
        width="25" height="25" />

    <svg:image *ngIf="node.children && node.children.length" href="assets/kids.png" [attr.x]="node.dim.x+10"
        [attr.y]="node.dim.y+70" width="25" height="25" />

    <svg:image (click)="onCardClick($event)" style="cursor:pointer" *ngIf="node.children && node.children.length && !node.isExpand" href="assets/plus.png"
        [attr.x]="node.dim.x+node.dim.width-25" [attr.y]="node.dim.y+75" width="16" height="16" />
    <svg:image (click)="onCardClick($event)" style="cursor:pointer" *ngIf="node.children && node.children.length && node.isExpand" href="assets/minus.png"
        [attr.x]="node.dim.x+node.dim.width-25" [attr.y]="node.dim.y+75" width="16" height="16" />
    <!-- Image section End -->


    <!-- Text section start -->
    <svg:text [attr.x]="node.dim.x+40" style="font-size: smaller;" [attr.y]="node.dim.y+28">{{node.data}}</svg:text>

    <svg:text [attr.x]="node.dim.x+40" style="font-size: smaller;" [attr.y]="node.dim.y+58">{{node.data.spouse}}
    </svg:text>

    <svg:text *ngIf="node.children && node.children.length" [attr.x]="node.dim.x+40" style="font-size: smaller;"
        [attr.y]="node.dim.y+88">{{node.children.length}}
    </svg:text>
    <!-- Text section end -->

    <!-- Each node render /customization section end -->


    
    <!-- Node model render section -->

    <svg:g *ngIf="node.isExpand">
        <svg:g *ngFor="let n of node.children" app-item-card [node]="n" />
    </svg:g>

    <svg:g *ngIf="hasParent">
        <svg:line *ngFor="let l of node.lines" [attr.x1]="l.x1" [attr.y1]="l.y1" [attr.x2]="l.x2" [attr.y2]="l.y2"
            style="stroke:#3f3f3f;stroke-width:1" />
    </svg:g>
</svg:g>